<div id="eventsManualPluginContent">
  <div class="item clearfix row margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Image Carousel</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="clearfix">
        <a class="btn btn-success pull-left" onclick="alert('Open Media Library');">Add Image</a>
      </div>
      <div class="carousel-items draggable-list-view margin-top-twenty border-radius-four border-grey">
        <div class="d-item">
          <span class="icon icon-menu pull-left"></span>
          <div class="media-holder pull-left">
            <img src="http://www.placehold.it/80x50">
          </div>
          <div class="copy pull-right">
            <span class="title ellipsis">Image Title</span>
            <div class="pull-right">
              <a class="text-primary text">Add Action</a>
										<span class="btn-icon btn-delete-icon btn-danger transition-third"><span>
            </div>
          </div>
        </div>
        <div class="d-item">
          <span class="icon icon-menu pull-left"></span>
          <div class="media-holder pull-left">
            <img src="http://www.placehold.it/80x50">
          </div>
          <div class="copy pull-right">
            <span class="title ellipsis">Image Title</span>
            <div class="pull-right">
              <a class="text-primary text">Add Action</a>
										<span class="btn-icon btn-delete-icon btn-danger transition-third"><span>
            </div>
          </div>
        </div>
        <div class="d-item">
          <span class="icon icon-menu pull-left"></span>
          <div class="media-holder pull-left">
            <img src="http://www.placehold.it/80x50">
          </div>
          <div class="copy pull-right">
            <span class="title ellipsis">Image Title</span>
            <div class="pull-right">
              <a class="text-primary text">Add Action</a>
										<span class="btn-icon btn-delete-icon btn-danger transition-third"><span>
            </div>
          </div>
        </div>
        <div class="d-item">
          <span class="icon icon-menu pull-left"></span>
          <div class="media-holder pull-left">
            <img src="http://www.placehold.it/80x50">
          </div>
          <div class="copy pull-right">
            <span class="title ellipsis">Image Title</span>
            <div class="pull-right">
              <a class="text-primary text">Add Action</a>
										<span class="btn-icon btn-delete-icon btn-danger transition-third"><span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Start Date</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" placeholder="Start Date" class="form-control">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Start Time</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" placeholder="Start Time" class="form-control">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>End Date</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" placeholder="End Date" class="form-control">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>All Day</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="checkbox checkbox-primary margin-zero no-label">
        <input type="checkbox" id="allday">
        <label for="allday"></label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>End Time</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control" placeholder="End Time">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Time Zone</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="dropdown pull-left col-md-12 padding-zero" dropdown>
        <button class="btn btn-default text-left dropdown-toggle" data-toggle="dropdown" dropdown-toggle aria-expanded="true">
          <span class="pull-left">UTC - Universal Coordinates Time - UTC +0:00</span>
          <span class="chevron icon-chevron-down pull-right"></span>
        </button>
        <ul class="dropdown-menu extended" role="menu">
          <li>
            <a tabindex="-1" class="transition-third">Option 1</a>
          </li>
          <li>
            <a tabindex="-1" class="transition-third">Option 2</a>
          </li>
          <li>
            <a tabindex="-1" class="transition-third">Option 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Time Display</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="radio radio-primary radio-inline">
        <input id="selectedtimezone" type="radio" name="timedisplay" checked>
        <label for="selectedtimezone" name="timedisplay">Selected Time Zone</label>
      </div>
      <div class="radio radio-primary radio-inline">
        <input id="usertimezone" type="radio" name="timedisplay">
        <label for="usertimezone" name="timedisplay">User's Time Zone</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="checkbox checkbox-primary margin-zero no-label">
        <input type="checkbox" id="repeat">
        <label for="allday"></label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeats</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="dropdown pull-left col-md-12 padding-zero" dropdown>
        <button class="btn btn-default text-left dropdown-toggle" data-toggle="dropdown" dropdown-toggle aria-expanded="true">
          <span class="pull-left">Daily</span>
          <span class="chevron icon-chevron-down pull-right"></span>
        </button>
        <ul class="dropdown-menu extended" role="menu">
          <li>
            <a tabindex="-1" class="transition-third">Option 1</a>
          </li>
          <li>
            <a tabindex="-1" class="transition-third">Option 2</a>
          </li>
          <li>
            <a tabindex="-1" class="transition-third">Option 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="none">
  <hr>
  <hr>
  <hr>
  <h4>Repeats Daily</h4>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat Every</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="col-md-4 pull-left padding-left-zero">
        <input type="text" class="form-control text-center" placeholder="1">
      </div>
      <div class="col-md-4 pull-left padding-left-zero">
        <p class="margin-top-five margin-bottom-zero">Days</p>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Starts On</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control" placeholder="Show Start Date">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Ends</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="radio radio-primary margin-zero">
        <input type="radio" id="endsNeverDaily" name="endsRadioDaily" checked>
        <label for="endsNeverDaily">Never</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsAfterDaily" name="endsRadioDaily">
          <label for="endsAfterDaily">After</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-6 pull-left padding-zero">
          <input type="text" class="form-control text-center">
        </div>
        <div class="col-md-6 pull-left padding-right-zero">
          <p class="margin-top-five margin-bottom-zero">Occurrences</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsOnDaily" name="endsRadioDaily">
          <label for="endsOnDaily">On</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-12 pull-left padding-zero">
          <input type="text" class="form-control text-center">
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <h4>Repeats Weekly</h4>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat Every</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="col-md-4 pull-left padding-left-zero">
        <input type="text" class="form-control text-center" placeholder="1">
      </div>
      <div class="col-md-4 pull-left padding-left-zero">
        <p class="margin-top-five margin-bottom-zero">Weeks</p>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat On</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="checkbox checkbox-primary margin-zero">
        <input type="checkbox" id="repeatSu">
        <label for="repeatSu">Su</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatMo">
        <label for="repeatMo">Mo</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatTu">
        <label for="repeatTu">Tu</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatWe">
        <label for="repeatWe">We</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatTh">
        <label for="repeatTh">Th</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatFr">
        <label for="repeatFr">Fr</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatSa">
        <label for="repeatSa">Sa</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Starts On</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control" placeholder="Show Start Date">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Ends</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="radio radio-primary margin-zero">
        <input type="radio" id="endsNeverWeekly" name="endsRadioWeekly" checked>
        <label for="endsNeverWeekly">Never</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsAfterWeekly" name="endsRadioWeekly">
          <label for="endsAfterWeekly">After</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-6 pull-left padding-zero">
          <input type="text" class="form-control text-center">
        </div>
        <div class="col-md-6 pull-left padding-right-zero">
          <p class="margin-top-five margin-bottom-zero">Occurrences</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsOnWeekly" name="endsRadioWeekly">
          <label for="endsOnWeekly">On</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-12 pull-left padding-zero">
          <input type="text" class="form-control text-center">
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <h4>Repeats Monthly</h4>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat Every</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="col-md-4 pull-left padding-left-zero">
        <input type="text" class="form-control text-center" placeholder="1">
      </div>
      <div class="col-md-4 pull-left padding-left-zero">
        <p class="margin-top-five margin-bottom-zero">Months</p>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Starts On</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control" placeholder="Show Start Date">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Ends</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="radio radio-primary margin-zero">
        <input type="radio" id="endsNeverMonthly" name="endsRadioMonthly" checked>
        <label for="endsNeverMonthly">Never</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsAfterMonthly" name="endsRadioMonthly">
          <label for="endsAfterMonthly">After</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-6 pull-left padding-zero">
          <input type="text" class="form-control text-center">
        </div>
        <div class="col-md-6 pull-left padding-right-zero">
          <p class="margin-top-five margin-bottom-zero">Occurrences</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsOnMonthly" name="endsRadioMonthly">
          <label for="endsOnMonthly">On</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-12 pull-left padding-zero">
          <input type="text" class="form-control text-center">
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <h4>Repeats Yearly</h4>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat Every</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="col-md-4 pull-left padding-left-zero">
        <input type="text" class="form-control text-center" placeholder="1">
      </div>
      <div class="col-md-4 pull-left padding-left-zero">
        <p class="margin-top-five margin-bottom-zero">Years</p>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Starts On</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control" placeholder="Show Start Date">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Ends</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="radio radio-primary margin-zero">
        <input type="radio" id="endsNeverYearly" name="endsRadioYearly" checked>
        <label for="endsNeverYearly">Never</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsAfterYearly" name="endsRadioYearly">
          <label for="endsAfterYearly">After</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-6 pull-left padding-zero">
          <input type="text" class="form-control text-center">
        </div>
        <div class="col-md-6 pull-left padding-right-zero">
          <p class="margin-top-five margin-bottom-zero">Occurrences</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsOnYearly" name="endsRadioYearly">
          <label for="endsOnYearly">On</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-12 pull-left padding-zero">
          <input type="text" class="form-control text-center">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <hr>
  <hr>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Address Title</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control" placeholder="Address Title">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Address</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control" placeholder="Enter Street Address or Lat/Long Coordinates">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <textarea placeholder="Map Goes Here" class="form-control"></textarea>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Body Content</span>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-12 pull-right">
      <textarea class="form-control" placeholder="WYSIWYG"></textarea>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-12 pull-right">
      <textarea class="form-control" placeholder="Dynamic Links"></textarea>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-6 pull-left padding-left-zero padding-right-ten">
        <a class="btn btn-danger pull-right stretch">Delete</a>
      </div>
      <div class="col-md-6 pull-right padding-right-zero padding-left-ten">
        <a class="btn btn-primary pull-right stretch" href="javaScript:void(0);">Done</a>
      </div>
    </div>
  </div>
</div>