.body-scroll{
    height: 600px !important;
}
.draggable-list-view.tab-order.wide-list, .draggable-list-view.wide-list {
    max-height: inherit;
    height: inherit;
}
.main_view {
    position: relative;
    overflow: hidden;
}

.screens .screen.layouticon a, .screens .layoutgrid .layouticon{
    height: 94px !important;
    line-height: 90px !important;
}
.slideRelative{
    position: relative;
}

.mapSize{
    height: 200px;
    position: relative;
}