<div class="holder padding-zero">
  <div class="events-plugin">
    <div class="plugin-banner clearfix border-bottom-grey"
         ng-if="WidgetEvent.event">
      <div id="carousel" ng-if="WidgetEvent.event.data.carouselImages.length"
           build-fire-carousel=""></div>
      <div class="plugin-slider text-center"
           ng-if="!WidgetEvent.event.data.carouselImages.length">
        <div class="plugin-slide">
          <img src="http://www.placehold.it/1280x565.jpg">
        </div>
      </div>
    </div>
    <div class="padded event-intro clearfix padding-bottom-five">
      <div class="event-date text-center pull-left">
        <h3
            class="margin-zero text-primary overlap-color-blue">{{WidgetEvent.event.data.startDate
          | getMonth}}</h3>

        <h1
            class="margin-zero text-primary overlap-color-blue">{{WidgetEvent.event.data.startDate
          |
          getDate}}</h1>
      </div>
      <div class="event-info pull-left margin-left-fifteen">
        <p class="ellipsis margin-zero">{{WidgetEvent.event.data.title}}</p>

        <p class="margin-zero"
           ng-if="WidgetEvent.event.data.endTime && !WidgetEvent.event.data.isAllDay">
          {{WidgetEvent.event.data.startTime}} -
          {{WidgetEvent.event.data.endTime}}
          {{WidgetEvent.event.data.upadtedTtimeZone | getTimeZone}}</p>
          <p class="margin-zero"
             ng-if="WidgetEvent.event.data.isAllDay">
              All Day</p>
        <a class="text-primary" href="javascript:void(0)" ng-click="WidgetEvent.addEventsToCalendar(WidgetEvent.event)">Add to Calendar</a>
      </div>
    </div>
    <div class="plugin-banner has-info-bar location-map clearfix">
      <div class="plugin-slide map-holder">
        <p style="position:relative; top:100px; color:#fff; text-align:center;"
           ng-if="!WidgetEvent.event.data.address.location">

        <div google-map style="height: 192px"
             ng-if="WidgetEvent.event.data.address.location"
             coordinates="WidgetEvent.event.data.address.location_coordinates"></div>
      </div>
      <div class="info-bar bg-primary text-center">
        <p ng-show="WidgetEvent.event.data.addressTitle"
           class="margin-bottom-zero ellipsis col-xs-12 overlap-color-white">
          {{WidgetEvent.event.data.addressTitle}}</p>
         <p ng-hide="WidgetEvent.event.data.addressTitle"
           class="margin-bottom-zero ellipsis col-xs-12 overlap-color-white"> <a class ="text-primary" ng-click="WidgetEvent.onAddressClick(WidgetEvent.event.data.address.location_coordinates[0],WidgetEvent.event.data.address.location_coordinates[1])" style="color: white !important;">
          {{WidgetEvent.event.data.address.location}}</a></p>
      </div>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix">
      <p ng-bind-html="WidgetEvent.safeHtml(WidgetEvent.event.data.description)"></p>

      <div class="dynamic-links">
        <a ng-repeat="link in WidgetEvent.event.data.links"
           ng-click="WidgetEvent.executeActionItem(link)">{{link
          .title}}</a>
      </div>
    </div>
  </div>
</div>
