<div class="holder padding-zero">

  <div class="events-plugin">
    <div class="event-calendar-holder padded clearfix"
         ng-if="WidgetHome.allEvents">
      <div class="event-calendar">
        <div style="display:inline-block; border: none">
          <datepicker ng-model="$parent.dt" min-date="minDate"
                      show-weeks="false"
                      max-mode="day" class="calendar-day" show-year="false"
                      custom-class="getDayClass(date, mode)"
                      ng-click="WidgetHome.getEvent()"
                      ng-class="{'avoid-clicks':WidgetHome.clickEvent}"></datepicker>
        </div>
      </div>
    </div>
    <div class="event-list">
      <div ng-if="WidgetHome.data">
        <div infinite-scroll="WidgetHome.loadMore()"
             infinite-scroll-distance="1"
             infinite-scroll-disabled="WidgetHome.busy">
          <div class="event-item clearfix"
               ng-swipe-right="WidgetHome.addEvents($event, $index, true)"
               ng-swipe-left="WidgetHome.addEvents($event, $index, false)"
               ng-class="{'active' : WidgetHome.swiped[$index]}"
               ng-repeat="event in WidgetHome.events">
            <div class="calendar-icon text-center bg-primary"
                 ng-click="WidgetHome.addEventsToCalendar(event)">
              <span class="icon icon-calendar-check"></span>
            </div>
            <span class="icon icon-menu rotate-90 pull-left"></span>

            <div
                class="event-media border-radius-three border-grey pull-left margin-left-ten">
              <img
                  ng-src="{{event.data.listImage || 'http://www.placehold.it/60x60' | getImageUrl : 60:60}}">
            </div>
            <div class="event-date text-center pull-left margin-left-ten"
                 ng-if="event.data.startDate">
              <h3 class="text-primary margin-zero overlap-color-blue">{{event.data.startDate
                | getMonth}}</h3>

              <h1 class="text-primary margin-zero overlap-color-blue">{{event.data.startDate
                |getDate}}</h1>
            </div>
            <div class="event-info pull-left margin-left-ten">
              <a href="javascript:void(0)"
                 ng-click="WidgetHome.openDetailsPage(event)"><h4
                  class="margin-bottom-zero text-primary ellipsis overlap-color-blue">
                {{event.data.title}}</h4></a>

              <p class="margin-zero ellipsis"
                 ng-if="event.data.endTime && !event.data.isAllDay">{{event.data.startTime}} -
                {{event.data.endTime}} {{event.data.upadtedTtimeZone | getTimeZone}}</p>
                <p class="margin-zero ellipsis"
                   ng-if="event.data.isAllDay">All Day</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="no-event-found padded" ng-if="!WidgetHome.events.length">
	  <div class="well">No events found.</div>
	</div>
  </div>
</div>